* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap");

body {
  background-color: #ffffff;
  background-attachment: fixed;
}
header {
  margin-top: 23px;
  margin-bottom: 15px;
  color: #6c63ff;
}

.nav-item > a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin-right: 19px;
  color: #6c63ff;
}

.nav-item:hover {
  transform: scale(1.1);
}

.img-container {
  margin-top: 125px;
  text-align: center;
}

.img-container > img {
  /*   width: 315px;
  height: 329px;  */
  width: 65%;
}

.logo-container > img {
  position: absolute;
  width: 59px;
  left: 52px;
  top: 19px;
}

.search-container {
  text-align: center;
  padding-right: 0px;
}

.search-container > p {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 42px;
  text-align: left;
  color: #6c63ff;
  width: 415px;
  height: 41px;
  margin-top: 158px;
}

.search-input {
  border: none;
  border-bottom: 1px solid #6c63ff;
  width: 65%;
  text-align: left;
  outline: none;
  background-color: inherit;
  margin-left: -78px;
  margin-right: 13px;
}

.search-container > div {
  width: 415px;
  padding-left: 15px;
}

.search-input:hover {
  transform: scale(1.1);
}

.search-btn {
  outline: none !important;
  border-radius: 35px;
  border: 1px solid #6c63ff;
  width: 55px;
  background-color: inherit;
  color: #6c63ff;
}

.content-div {
  width: 100%;
  margin: auto;
  padding: 25px;
}

.card {
  width: 255px;
  height: 458px;
  background: #ffffff;
  box-shadow: 20px 20px 25px rgba(195, 205, 215, 0.5);
  border-radius: 16px;
  margin: auto;
  margin-right: 56px;
  margin-bottom: 46px;
}

.card:hover {
  box-shadow: 20px 20px 20px 20px rgba(200, 205, 215, 0.4);
}

.card-img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 346px;
}

.movie-poster {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card-info > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding: 20px 10px 0px;
  color: #000000;
  text-align: center;
}

.icon-heart {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.btn-compare {
  position: absolute;
  background: #ffffff;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  box-sizing: border-box;
  border-radius: 35px;
  right: 32px;
  bottom: 13px;
  width: 80px;
  line-height: 25px;
  font-size: 13px;
}

.btn-favourite {
  position: absolute;
  font-weight: 500;
  background: #ffffff;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  box-sizing: border-box;
  border-radius: 35px;
  left: 32px;
  bottom: 13px;
  width: 83px;
  line-height: 25px;
  font-size: 13px;
}

.btn-favourite:hover {
  background-color: #6c63ff;
  color: #ffffff;
}

.flex-container {
  display: flex;
}

.singleMovie-content {
  flex-direction: row;
  justify-content:  center;
  padding: 18px;
 
}

.imgMovie-container {
  width: 300px;
  height: 444px;
  border-radius: 0px 0px 41px 0px;
  box-shadow: 20px 20px 25px rgba(195, 205, 215, 0.5);
}

.imgMovie-container > img {
  border-radius: 0px 0px 41px 0px;
  width: inherit;
  height: inherit;
}

.singleMovie-mainInfo {
  width: 50%;
  font-family: "Montserrat";
  text-align: center;
  padding-left: 80px;
}

.singleMovie-mainInfo > h3 {
  font-weight: 500;
  font-size: 28px;
  padding-bottom: 15px;
}

.singleMovie-mainInfo > p {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}



.btn-singleMovie-favourite {
  background: #ffffff;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  box-sizing: border-box;
  border-radius: 35px;
  width: 83px;
  line-height: 25px;
  font-size: 13px;
  margin-right: 2.1rem;
  margin-top: 5px;
  

}

.btn-singleMovie-compare {
  font-weight: 500;
  background: #ffffff;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  box-sizing: border-box;
  border-radius: 35px;
  width: 83px;
  line-height: 25px;
  font-size: 13px;
  margin-top: 5px;

}

.singleMovie-buttons {
  padding-top: 10px;
}

.btn-singleMovie-favourite:hover {
  background-color: #6c63ff;
  color: #ffffff;
}